extends layout 

block styles 
  link(rel="stylesheet", href="/stylesheets/style-membership.css")

block scripts 
  script(type="module" src="/javascripts/membershipsScript.js" defer)
  script(type="module" src="/javascripts/formScript.js" defer)

block content 
  div.page-wrapper
    h1 Delete Membership 

    p Do you want to delete the following tier level?

    form.form-control-btns(method="POST" action="" style="display:flex;align-items:center;gap:30px") 
      a(href="/account/memberships") Cancel
      button#action-btn.btn.btn-secondary(type="submit" style="padding:2px") Delete
    div.loader.hidden

    div.tiers-wrapper(style="padding-top:40px")
      div.tier-container
        div.tier-wrapper 

          h3= membership.title 

          p.center-txt= `$${membership.price} / month`

          hr(style="margin:0 auto;width:40%")

          p= membership.description

          div.rewards-container
            ul 
              each reward in membership.rewards   
                li.reward!= "⏦ " + reward