extends layout 

block content 
  form.form-wrapper(method="PUT" action="") 
    h2(style="text-align:center")= title
      div.form-control 
        label(for="desc" style="margin-left:15px") Description
        textarea#desc(type="text" name="desc" cols="30" rows="10" placeholder="Briefly describe your project") 



//- description
//- socialUrls
//- -- facebookHandle
//- -- instagramHandle
//- -- twitterHandle
//- imgUrls 
//- -- banner
//- -- avatar
//- tiers
//- -- top
//- -- middle
//- -- bottom