extends layout 

block noUser
  if errors.length > 0
    ul
      for error of errors
        li= errors
    p Problems remembering password?
    form(method="POST" action="/recover") 
      input#email(type="text" name="email" required="true")
      button.btn.btn-primary(type="submit") Reset Password
  if error 
    p= error

  form.form-wrapper(method='POST' action='') 
    h2(style='text-align:center')= title 
    div.form-control 
      label(for='username' style='margin-left:15px') Email 
      input#username(type="email" name='username' required='true' placeholder='email@email.com')
    div.form-control 
      label(for='password' style='margin-left:15px') Password 
      input#password(type="password" name='password' required='true' placeholder='********')
    div.form-control-btns 
      a(href="/") Cancel
      button.btn(type="submit") Submit