extends layout 

block content 
  form.form-wrapper(method='POST' action="")
    legend Reset Password
    div.form-control
        label(for='password') New Password
        input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
    div.form-control
        label(for='confirmPassword') Confirm Password
        input.form-control(type='password', name='confirmPassword', value='', placeholder='Confirm password')
    div.form-control
        button.btn.btn-primary(type='submit') Update Password
