extends layout 

block content 
  div.page-wrapper
    h1= title
    p(style="color:red") To be added:
    ul(style="margin:10px") 
      li ✓ Filter options: (e.g. by genre, by region, any others?)
      li ✓ Sort options: (e.g. by )
      li ✓ Give default smart sorting -- thinking initially by country

    div
      form.form-control(method="GET" action="")
        input#searchTerm(type="text" name="searchTerm" placeholder="Search for creators..." required autofocus)
        button.btn.btn-search Search


    if pages
      hr(style="margin:25px")
      div   
        ul
          if !pages.length
            p No results
          for page of pages
            li
              a(href=page.url) #{page.title} 
                span(style="color:gray;font-size:.7rem") [#{page.genre.map(genre => genre.type).join(", ")}] 