extends layout 

block scripts 
  script(src="/javascripts/addMembershipScript.js" defer)

block content
  div.page-wrapper
    if errors 
      ul 
        for error in errors 
          li!= error.msg

    h1= title 

    form.form-wrapper(method='POST' action='') 
      h2(style="text-align:center")= title

      div.form-control 
        label(for="title" style="margin-left:15px") Tier Title
        input#title(type="text" name="title" required='true')

      div.form-control 
        label(for="price" style="margin-left:15px") Price
        input#price(type="number" name="price" required ="true" step="1" min="1")

      div.form-control 
        label(for="desc" style="margin-left:15px") Description
        textarea#desc(name="desc", rows="4") 
      
      input#numRewards(type="hidden" name="numRewards" value=1)

      hr(style="width:40%;margin:20px auto")

      div#add-rewards-container
        div.add-reward-wrapper
          p Rewards 
          button#add-reward.btn.btn-tertiary(type="button" style="font-size:.8rem") + Reward

        div.form-control 
          input#reward-0(type="text" name="reward-0" required="true")
    
      div.form-control-btns 
        a(href="/account/memberships") Cancel
        button.btn(type="submit") Submit
      