extends layout

block noUser 
  header
        p 
          a(href="/register") Register
        p 
          a(href="/login") Login
  main 
    h1= title 

    p Smash the Motherboard is an independent creator economy marketplace.

  footer
    div.footer-wrapper
