extends layout

block noUser 
  main.landing-page 
    h1= title 

    p Smash the Motherboard is an independent creator economy marketplace.

    - console.log(req)
    //- a(href=`${}`)

  footer
    div.footer-wrapper
