doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/javascripts/script.js" defer)
  
  body
    if !currentUser
      header 
        a(href="/register") Register

    main     
      block content

    footer
      div.footer-wrapper