doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/javascripts/script.js" defer)
  
  body 
    if !currentUser 
      block landing
      block login
      block register

    else  
      div.page-wrapper 
        div.sidebar 
          nav.nav-bar 
            ul 
              li 
                a(href="/home") Home 
              li 
                a(href="/search") Search 
              li 
                a(href="/settings") Settings 
              form(method="POST" action="/logout") 
                button.btn.btn-secondary(type="submit") Logout
                


        main.main
          block content