doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/javascripts/script.js" defer)
  
  body 
    if !currentUser
      div.landingPage 
        block noUser

    else  
      div.app-wrapper 
        div.sidebar 
          nav.nav-bar 
            ul 
              li 
                a(href="/home") Home 
              li 
                a(href="/search") Search 
              li 
                a(href="/settings") Settings 
              li 
                a(href="/logout") Logout
              if !currentUser.creator
                hr(style='margin:10px')
                li 
                  a(href="/creator-signup") Become Creator
              if currentUser.creator 
                hr(style='margin:10px')
                hr(style='margin:10px')
                li 
                  a(href=`/${currentUser.creator._id}`) View Page 
                if currentUser.page 
                  li 
                    a(href=`/${currentUser.creator._id}/edit`) Edit Page
                  li 
                    a(href="/analytics") Analytics 
                else 
                  form(method="POST" action="/create-page") 
                    button.btn.btn-secondary(type="submit") Create Page

                


        main.main-wrapper
          block content