doctype html
html(lang='en')
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet")


    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0")

    link(rel='stylesheet', href='/stylesheets/style.css')
    if !currentUser 
      link(rel="stylesheet", href="/stylesheets/style-noauth.css")
    block styles

    if currentUser
      script(type="module" src="/javascripts/userScript.js" defer)
      if currentUser.creator.page 
        script(type="module" src="/javascripts/creatorScript.js")
    block scripts 
  
  body 
    if !currentUser
      header.no-auth-header-wrapper
        div.no-auth-header
          div.header-logo 
            img(src="/images/logo.png", alt="Logo")
            a.home-link(href="/") Home
          nav.no-auth-nav
            p 
              a(href="/search/categories") Browse 
            //- p 
            //-   a(href="/search") Search 
            p 
              a(href="/register") Register
            p 
              a(href="/login") Login
        div.header-search-container
          form.form-control(method="GET" action="/search")
            input#searchTerm(type="text" name="searchTerm" placeholder="Search for creators...")
            button.btn.btn-search 🔍
        
      div.no-auth-content
        block noUser
        block content
      footer
        div.footer-wrapper
          div.footer-socials
            img(src="/images/logo.png", alt="Logo")
            ul 
              li  
                a(href="https://www.facebook.com", target="_blank" noreferrer)
                  img(src="/images/icons8-facebook.svg", alt="Facebook")
              li  
                a(href="https://www.instagram.com", target="_blank" noreferrer)
                  img(src="/images/icons8-instagram.svg", alt="Instagram")
              li  
                a(href="https://www.twitter.com", target="_blank" noreferrer)
                  img(src="/images/icons8-twitter.svg", alt="Twitter")
              li  
                a(href="https://www.youtube.com", target="_blank" noreferrer)
                  img(src="/images/icons8-youtube.svg", alt="YouTube")
          div.footer-about
            div.address
              address
                | Smash the Motherboard 
                br
                | 1234 Spinoza Rd 
                br
                | Santa Fe, NM 01011
                | USA
            nav.footer-about-links
              ul 
                li 
                  a(href="#") Terms of Service
                li 
                  a(href="#") Privacy
                li 
                  a(href="#") About Us
                li 
                  a(href="#") Cookies Policy
                li 
                  a(href="#") Contact Us
                li 
                  a(href="#") Blog

    else  
      div.app-wrapper 
        div.sidebar 
          nav.nav-bar 
            div.header-logo 
              img(src="/images/logo.png", alt="Logo")

            ul 
              li 
                a(href="/home") 
                  div#home
                    span(class="material-symbols-outlined") home
                    p Home 
              li 
                a(href="/search/categories")
                  div#browse
                    span(class="material-symbols-outlined") category
                    p Browse 
              li 
                a(href="/search")
                  div#search
                    span(class="material-symbols-outlined") search
                    p Search 
              li 
                a(href="/home/settings")
                  div#settings
                    span(class="material-symbols-outlined") settings
                    p Settings 
              li 
                a(href="/logout")
                  div
                    span(class="material-symbols-outlined") logout
                    p Logout
              hr(style='margin:10px')

              //- IF CREATOR
              if currentUser.creator.stripeStatus
                //- IF PAGE EXISTS
                if currentUser.creator.page
                  //- hr(style='margin:10px')
                  li 
                    a(href=`/${currentUser.creator.page}`) 
                      div.view-page(id=currentUser.creator.page._id)
                        span(class="material-symbols-outlined") web
                        p View Page 
                  li 
                    a(href="/account/edit")
                      div#edit-page
                        span(class="material-symbols-outlined") edit
                        p Edit Page
                  li 
                    a(href="/account/posts")
                      div#posts
                        span(class="material-symbols-outlined") post_add
                        p Posts
                  li 
                    a(href="/account/memberships") 
                      div#memberships
                        span(class="material-symbols-outlined") payments
                        p Memberships
                  li 
                    a(href="/account/analytics")
                      div#analytics
                        span(class="material-symbols-outlined") leaderboard
                        p Analytics 

                //- IF NO PAGE
                else 
                  //- IF ONBOARDING INCOMPLETE
                  if !currentUser.creator.stripeOnboardComplete
                    //- IF ONBOARDING NOT STARTED
                    if !currentUser.creator.stripeId
                      a(href="/account/onboard-user") Connect to Stripe
                    //- IF ONBOARDING STARTED
                    else 
                      a(href="/account/onboard-user/refresh") Continue Connecting to Stripe

                  //- IF ONBOARDING COMPLETE
                  else 
                    //- IF PAYMENTS ACTIVE
                    if currentUser.creator.stripeStatus === "active" 
                      form(method="POST" action="/account/create-page") 
                        button.btn.btn-secondary(type="submit") Create Page
                    
                    //- IF PAYMENT ISSUE
                    else 
                      div 
                        em Stripe Payment Issue
                        p Status: 
                          span= currentUser.creator.stripeStatus
                        a(href="https://dashboard.stripe.com") Stripe Dashboard
                    
                    //- IF STRIPE REQUIRES INFO
                    if currentUser.creator.stripeIssue 
                      div 
                        em Stripe requires attention 
                        a(href="https://dashboard.stripe.com") Stripe Dashboard

              //- IF NOT CREATOR
              else 
                if currentUser.isVerified
                  li 
                    a(href="/home/creator-signup") Become Creator
                else 
                  li 
                    p(style="font-size:.6rem") [Please Verify Email]


        main.main-wrapper
          block content