extends layout 

block content 
  h1= title 
  form(method='POST' action='')
    div#login
      label(for='email') Email: 
      input#email(type='text' name='email' value=(undefined===category ? "" : category.name))
      label(for="password") Password 
      input#password(type='password' name='password')
    button.btn.btn-primary(type='submit') Log in