extends layout 

block content 
  h1= title 

  div 
    a(href=`/account/${currentUser.creator.page._id}/add-post`) Add Post

  if !posts.length
    div
      em No posts yet
  else 
    each post in posts 
      div(style="margin-top:15px;border-bottom:solid 1px black;max-width:650px") 
        h4!= post.title 
        p!= post.text