extends layout 

block content
  div.page-wrapper
    h1= title 

    div 
      ul 
        each page in page_list 
          li 
            a(href=page.url)= page.title 
              span  (#{page.genre.type})