extends layout 

block content 
  div.page-wrapper
    p Successfully connected to Stripe
    p Before you can begin setting up your page, please perform the following: 
    ol 
      li 1. Check your email and verify your Stripe account by folliwing their link
      li 2. On your Stripe Dashboard, verify your identity by providing your complete SSN 
    a(href="https://dashboard.stripe.com") Stripe Dashboard
    div 
      a(href="/home") Home