extends layout 

block content 
  div.page-wrapper
    div 
      h2 Successfully connected to Stripe
      p Before you can begin setting up your page, please perform the following: 
      
    div
      ol 
        li 1. Check your email and verify your Stripe account by folliwing their link
        li 2. On your Stripe Dashboard, verify your identity if required
    div 
      a(href="https://dashboard.stripe.com") Stripe Dashboard

    div 
      a(href="/home") Home