doctype html
html(lang='en')
  head
    title= title
    met(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src="/javascripts/script.js" defer)
  body  
    p Successfully connected to Stripe
    p Before you can begin setting up your page, please perform the following: 
    ol 
      li 1. Check your email and verify your Stripe account by folliwing their link
      li 2. On your Stripe Dashboard, verify your identity by providing your complete SSN 
    a(href="https://dashboard.stripe.com") Stripe Dashboard
    div 
      a(href="/home") Home