/* TABLE OF CONTENTS */
/* 

  # Formatting
    ## Forms
  # Header
  # Sidebar
  # Footer
  # Main
    ## Register

*/

/* ##################### # FORMATTING ################## */
body {
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}

/* ########### ## FORMS ############ */
.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 600px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.form-control > input {
  padding: 5px;
}

/* ##################### # HEADER ##################### */

/* #################### # SIDEBAR ##################### */

/* #################### # FOOTER ###################### */

/* ##################### # MAIN ####################### */

/*  ########## ## REGISTER ############ */
