/* ########### # FORMAT ############ */

main {
  scroll-behavior: smooth;
}

.page-view-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: space-between;
}

/* ########### # HEADER ############ */

.page-banner {
  position: relative;
}

.page-banner > img {
  object-fit: cover;
  width: 100%;
  height: clamp(100px, 25vw, 400px);
}

.page-avatar-wrapper > img {
  height: 20vw;
  width: 20vw;
  max-height: 100px;
  max-width: 100px;
  position: absolute;
  bottom: -15px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.688);
}

/* ########### # TITLE ############ */

.page-title {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.page-title > ul {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

/* ########### # SOCIALS ############ */

.page-title > ul > li > a > img {
  height: 30px;
  cursor: pointer;
  filter: grayscale(60%);
}

@media (hover: hover) {
  .page-title > ul > li > a > img:hover {
    filter: grayscale(0);
  }
}

/* ########### # GENRES ############ */

.page-genres {
  padding: 0 10px;
  margin-top: -25px;
}

/* ########### # MAIN ############ */

.page-view-main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 100%;
}

/* ########### # ABOUT ############ */

.page-about {
  max-width: 500px;
}

.page-about > p {
  text-align: center;
}

/* ########### # MEMBERSHIP TIERS ############ */

.page-tiers-container {
  width: 100%;
}

.tiers-wrapper {
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0;
  width: 100%;
}

.tier-wrapper {
  background: white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 30%;
  min-width: 290px;
  padding: 15px 15px 10px;
  gap: 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.352);
}

@media only screen and (max-width: 699px) {
  .tier-wrapper {
    width: 100%;
    min-width: none;
    max-width: none;
  }
}

.rewards-container {
  padding-bottom: 20px;
  position: relative;
  min-height: 75px;
}

.preview {
  height: 75px;
  overflow-y: hidden;
}

.remove-preview {
  color: #34289f;
  position: absolute;
  bottom: -4px;
  background-color: white;
  box-shadow: 0 -5px 2px 1px rgba(255, 255, 255, 0.944);
  width: 100%;
  text-align: center;
  cursor: pointer;
}

@media (hover: hover) {
  .remove-preview:hover {
    color: #e8287a;
  }
}

.reward {
  color: rgb(98, 98, 98);
  font-size: 0.9rem;
}

.membership-btn-container {
  margin: 0 auto;
}

/* ########### # POSTS ############ */

.page-posts-container {
  width: 90%;
  max-width: 1000px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .page-posts-container {
    width: 100%;
  }
}

.posts-wrapper {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
