/* TABLE OF CONTENTS */
/* 

  # Formatting
    ## Forms
  # Sidebar
  # Main
    ## Page View
    ## Posts
  # Utils

*/

/* 
  STYLE GUIDE:

  - Color Palette
  - 

  FONTS
  - font-family: 'Nunito Sans', sans-serif;
  - font-family: 'Ubuntu', sans-serif;

*/

/* ##################### # FORMATTING ################## */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.03ch;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ububntu", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
}

a {
  color: #6d6d6d;
  text-decoration: none;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    color: #373737;
  }
}

ul {
  list-style: none;
}

.btn {
  background-color: #e8287a;
  padding: 0.8rem 1.1rem;
  border-radius: 2rem;
  color: white;
  margin: 5px 2px;
  font-size: 1rem;
  min-width: 170px;
  border: solid 2px #e8287a;
}

.btn-secondary {
  background-color: #34289f;
  border-color: #34289f;
  border-radius: 5px;
  padding: 0.3rem 1.1rem;
}

.btn-disabled {
  border: inset 2px gray;
  filter: grayscale(80%);
}

.btn-register {
  background-color: #e8287a;
  border-color: #e8287a;
}

@media (hover: hover) {
  .btn:hover {
    background: white;
    color: #e8287a;
  }

  .btn-secondary:hover {
    color: #34289f;
  }

  .btn-register:hover {
    color: #e8287a;
    background-color: white;
  }

  .btn-disabled:hover {
    background-color: #34289f;
    color: rgb(230, 167, 167);
  }
}

/* ########### ## FORMS ############ */

.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.form-control > input,
select,
textarea {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #beccd95b;
}

.form-control > textarea {
  resize: none;
}

.form-control-btns {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  column-gap: 25px;
  align-self: flex-end;
  align-items: center;
}

.header-logo {
  overflow: hidden;
  padding: 7px 0;
  position: relative;
  margin-right: 15px;
  filter: contrast(50%);
}

.header-logo > img {
  height: 45px;
  z-index: -1;
}

.header-logo > .home-link {
  font-size: 45px;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
}

/* ##################### # MAIN ####################### */
.app-wrapper {
  display: flex;
  flex-direction: row;
}

.main-wrapper {
  width: 100%;
  overflow-y: auto;
  height: 100vh;
  background-color: #eceff175;
}

.page-wrapper {
  position: relative;
  margin: 50px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* ########### ## POSTS ############ */

/* Individual Posts */
.post-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  min-height: 100px;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.498);
  margin-bottom: 10px;
  background-color: white;
}

.post-media {
  overflow-y: hidden;
  max-height: 400px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.221);
  padding: 5px;
  border-radius: 5px;
}

.post-media > iframe {
  max-height: 315px;
  height: 50vw;
}

.post-media > img,
.post-media > iframe {
  width: 100%;
}

.link-ogg-container > img {
  width: 100%;
  object-fit: contain;
}

/* Add Posts */
.add-posts-nav {
  padding: 5px;
  display: flex;
  column-gap: 10px;
}

/* ##################### # MAIN ####################### */

.hidden {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
}

.center-txt {
  text-align: center;
}
