/* TABLE OF CONTENTS */
/* 

  # Formatting
    ## Forms
  # Sidebar
  # Main
    ## Page View
    ## Posts
  # Utils

*/

/* 
  STYLE GUIDE:

  - Color Palette
  - 

  FONTS
  - font-family: 'Nunito Sans', sans-serif;
  - font-family: 'Ubuntu', sans-serif;

*/

/* ##################### # FORMATTING ################## */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.03ch;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ububntu", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  font-weight: 700;
}

a {
  color: #6d6d6d;
  text-decoration: none;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    color: #373737;
  }
}

ul {
  list-style: none;
}

.btn {
  background-color: #e8287a;
  padding: 0.8rem 1.1rem;
  border-radius: 2rem;
  color: white;
  margin: 5px 2px;
  font-size: 1rem;
  min-width: 170px;
  border: solid 2px #e8287a;
}

.btn-secondary {
  background-color: #34289f;
  border-color: #34289f;
  border-radius: 5px;
  padding: 0.3rem 1.1rem;
}

.btn-tertiary {
  min-width: unset;
  background-color: #beccd993;
  color: #001331;
  padding: 4px 8px;
  border-radius: 2rem;
  margin: 5px 2px;
  border: solid 2px #beccd993;
}

.btn-disabled {
  border: inset 2px gray;
  filter: grayscale(80%);
}

.btn-register {
  background-color: #e8287a;
  border-color: #e8287a;
}

@media (hover: hover) {
  .btn:hover {
    background: white;
    color: #e8287a;
  }

  .btn-secondary:hover {
    color: #34289f;
  }

  .btn-tertiary:hover {
    background-color: white;
    border: solid 2px #e8287a;
    color: #e8287a;
  }

  .btn-register:hover {
    color: #e8287a;
    background-color: white;
  }

  .btn-disabled:hover {
    background-color: #34289f;
    color: rgb(230, 167, 167);
  }
}

/* ########### ## FORMS ############ */

.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px 15px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.316);
}

@media only screen and (max-width: 600px) {
  .form-wrapper {
    border-radius: 0;
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.form-control > label {
  margin-left: 15px;
}

.form-control > input,
select,
textarea {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #ccd9ee70;
}

.form-control > textarea {
  resize: none;
}

.form-control-btns {
  margin-top: 20px;
  display: flex;
  column-gap: 25px;
  justify-content: center;
  align-items: center;
}

.add-reward-wrapper {
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* ########### ## HEADER LOGO ############ */

.header-logo {
  overflow: hidden;
  padding: 7px 0;
  position: relative;
  margin-right: 15px;
  filter: contrast(50%);
}

.header-logo > img {
  height: 45px;
  z-index: -1;
}

.header-logo > .home-link {
  font-size: 45px;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
}

/* ################ # MAIN ################# */
.app-wrapper {
  display: flex;
  flex-direction: row;
}

.main-wrapper {
  width: 100%;
  overflow-y: auto;
  height: 100vh;
  background-color: #eceff175;
}

.page-wrapper {
  position: relative;
  margin: 50px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

@media only screen and (max-width: 600px) {
  .page-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* ############### # LOADER ################# */

.loader {
  border: 9px solid #f3f3f3;
  border-radius: 50%;
  border-top: 9px solid #1059ff;
  width: 62px;
  height: 62px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ############### # Additions/Actions ################# */

.hidden {
  display: none !important;
}

.sticky {
  position: sticky;
  top: 0;
}

.center-txt {
  text-align: center;
}

.active {
  color: #00b84d;
  font-size: 0.7rem;
}

.warning {
  color: #f18d1e;
  font-size: 0.7rem;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.flex-h {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
