/* ########### # FORMAT ############ */

.page-view-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: space-between;
}

/* ########### # HEADER ############ */

.page-banner {
  position: relative;
}

.page-banner > img {
  object-fit: cover;
  width: 100%;
  height: clamp(100px, 25vw, 400px);
}

.page-avatar-wrapper > img {
  height: 100px;
  position: absolute;
  bottom: -15px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.688);
}

.page-title {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.page-title > ul {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.page-title > ul > li > a > img {
  height: 30px;
}

.page-genres {
  padding: 0 10px;
  margin-top: -25px;
}

/* ########### # MAIN ############ */

.page-view-main-container {
  padding: 0 20px;
  max-width: 1000px;
}

.page-about {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 500px;
}

.page-about > p {
  text-align: center;
}

.page-tiers-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.tiers-wrapper {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0;
}

.tier-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  border: solid 1px black;
  padding: 5px;
  row-gap: 5px;
  position: relative;
  padding-bottom: 40px;
}

.membership-btn-container {
  display: flex;
  width: 67px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: calc(50% - 33px);
  padding: 10px 0;
}

.page-posts-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.posts-wrapper {
  height: 400px;
  border: solid 1px black;
}

.blur-shield {
  width: 100%;
  height: 400px;
  border: solid 1px black;
  position: absolute;
  background-color: rgba(245, 245, 245, 0.257);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
