/* ################# # HEADER ################## */

.no-auth-content {
  min-height: 61.5vh;
}

.no-auth-header-wrapper {
  background-color: white;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.455);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.no-auth-header {
  display: flex;
}

.no-auth-header > .header-logo {
  filter: contrast(0);
}

@media (hover: hover) {
  .no-auth-header > .header-logo:hover {
    filter: contrast(50%);
  }
}

.no-auth-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3vw;
  padding: 10px;
  max-width: 500px;
}

.no-auth-content {
  padding: 0 15px;
}

.header-search-container > .form-control {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  position: relative;
}

.header-search-container > .form-control > input {
  width: 300px;
  padding: 10px 15px;
  border-radius: 20px;
}

.header-search-container > .form-control > button {
  min-width: unset;
  margin: 0;
  height: 100%;
  padding: 0 10px;
  position: absolute;
  right: 3px;
  top: -1px;
  box-shadow: none;
  background-color: inherit;
}

.btn-search {
  border: none;
}

@media (hover: hover) {
  .btn-search:hover {
    filter: brightness(90%);
  }
}

/* ################# # FOOTER ################## */

footer {
  margin-top: 100px;
  min-height: 200px;
  background-color: #001331;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.footer-socials > img {
  height: 70px;
  filter: invert(80%);
}

.footer-socials ul {
  display: flex;
  column-gap: 10px;
}

@media (hover: hover) {
  .footer-socials > ul li > a > img:hover {
    filter: brightness(90%) grayscale(50%);
  }
}

.footer-socials > ul li > a > img {
  filter: brightness(80%) grayscale(100%);
  height: 30px;
}

.footer-about > .address {
  color: rgba(255, 255, 255, 0.69);
  height: 100%;
  font-size: 0.8rem;
  margin-bottom: 30px;
  text-align: right;
}

.footer-about-links > ul {
  display: flex;
  column-gap: 10px;
}

@media only screen and (max-width: 740px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-about > .address {
    text-align: center;
  }

  .footer-about-links > ul {
    flex-direction: column;
    text-align: center;
  }
}
