@media only screen and (min-width: 601px) {
  .page-wrapper {
    align-items: flex-start;
  }

  .page-wrapper > h1 {
    text-align: left;
    align-self: flex-start;
  }
}

.stripe-error-container {
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0.548);
  padding: 10px;
  background-color: rgba(255, 155, 155, 0.292);
}

.attention-container {
  border-radius: 10px;
  box-shadow: 0 0 3px 0 rgba(255, 119, 0, 0.548);
  padding: 10px;
  background-color: rgba(255, 202, 155, 0.292);
  min-width: 387.5px;
}

@media only screen and (max-width: 600px) {
  .stripe-error-container {
    border-radius: 0;
  }

  .attention-container {
    border-radius: 0;
    width: 100%;
  }
}

.attention-container > div {
  justify-content: space-between;
}

.attention-container > div > form > button {
  min-width: unset;
  padding: 2px 4px;
  font-size: 0.7rem;
  border-color: rgba(245, 196, 153, 0.636);
  color: rgba(247, 143, 52, 0.867);
  border-radius: 5px;
  background-color: unset;
}

.toggle-view-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  z-index: 7;
  width: 100%;
  max-width: 800px;
}

.toggle-view-menu > div {
  background-color: #001331;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.345);
  display: flex;
  gap: 3px;
  padding: 0 5px;
}

.toggle-view-menu > div > button {
  font-size: 0.8rem;
  background-color: white;
  border-color: black;
}

.toggle-view-selected {
  background-color: #e64b8e !important;
  border-color: white !important;
  color: white !important;
}

.subscriptions-container {
  width: 100%;
  max-width: 800px;
  margin-top: -85px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.596);
}

#active-subs-container,
#inactive-subs-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 60px 15px 15px;
}

.subscription-wrapper {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(250, 246, 243, 0.648);
  padding: 5px 10px 5px 25px;
  box-shadow: -3px -2px 2px -1px rgba(0, 37, 82, 0.435);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subscription-info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .subscriptions-container {
    border-radius: 0;
  }

  .subscription-wrapper {
    align-items: center;
    padding: 5px 5px;
  }

  .subscription-wrapper > p {
    text-align: center;
  }

  .subscription-info {
    justify-content: space-around;
  }

  .subscription-info > em {
    text-align: center;
  }
}

.btn-sub {
  padding: 1px;
  min-width: unset;
  font-size: 0.7rem;
  width: 100px;
}
