extends ../layout 

block styles 
  link(rel="stylesheet", href="stylesheets/about.css")

block content  
  div.page-wrapper
    h1 About

    div.top-section-wrapper
      div.section-wrapper 
        p Consectetur adipiscing elit ut aliquam purus. Sodales neque sodales ut etiam. Nulla facilisi morbi tempus iaculis urna. Mi quis hendrerit dolor magna eget. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Ut enim blandit volutpat maecenas volutpat blandit. Quam vulputate dignissim suspendisse in est ante.

        p Mauris in aliquam sem fringilla. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Accumsan lacus vel facilisis volutpat. In metus vulputate eu scelerisque felis imperdiet.

      img(src="https://images.unsplash.com/photo-1473158912295-779ef17fc94b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="")
      

    div.section-wrapper

      p Elit duis tristique sollicitudin nibh sit amet commodo. Augue mauris augue neque gravida. Mauris pharetra et ultrices neque ornare aenean euismod. Nec nam aliquam sem et tortor. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Vitae semper quis lectus nulla at volutpat diam ut venenatis.

