extends ../layout

block styles  
  link(rel="stylesheet", href="/stylesheets/style-landing.css")

block scripts 
  script(src="/javascripts/landingScript.js" defer)

block noUser 
  main.landing-page   
    h1 Creativity connected through community

    a(href="/register") 
      button.btn.btn-primary Get Connected
    
    div.video-player.landing-item-container
      iframe(src="https://www.youtube.com/embed/rD7Gux8R2DA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

    div.landing-about-container 
      h1 What is Smash the Motherboard?
      p Tincidunt dui ut ornare lectus sit. At elementum eu facilisis sed. Elit eget gravida cum sociis natoque penatibus. Tortor posuere ac ut consequat semper viverra. Sed faucibus turpis in eu mi bibendum neque egestas congue. Sed viverra tellus in hac habitasse platea dictumst vestibulum.

    div.call-to-action.landing-item-container
      div.action-container
        div.img-container
          img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/Group-32959-2.png", alt="")
        div.info-container
          h2 Become a Creator
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a(href="/register") 
          button.btn.btn-primary Become Creator
      div.action-container
        div.img-container
          img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/Group-32962-2.png", alt="")
        div.info-container
          h2 Support Creators
          p Viverra suspendisse potenti nullam ac. Sit amet nisl purus in mollis nunc sed id semper. 
        a(href="http://localhost:8080/search") 
          button.btn.btn-primary Browse Creators
      div.action-container
        div.img-container
          img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/Group-32964-2.png", alt="")
        div.info-container
          h2 What to Expect
          p Vitae justo eget magna fermentum iaculis eu non diam phasellus. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Potenti nullam ac tortor vitae.
        a(href="/about") 
          button.btn.btn-primary About STMB
      
    div.creator-examples-container.landing-item-container
      div.examples-about 
        h1 Who uses Smash the Motherboard?
        p Quisque sagittis purus sit amet volutpat. Sapien eget mi proin sed libero enim sed faucibus. Tellus pellentesque eu tincidunt tortor aliquam.
      div.examples-wrapper 
        div.examples-nav 
          button#video.btn.btn-tertiary.example-nav-btn.example-nav-selected Video Creators
          button#podcast.btn.btn-tertiary.example-nav-btn Podcasters
          button#art.btn.btn-tertiary.example-nav-btn Visual Artists 
          button#music.btn.btn-tertiary.example-nav-btn Musicians
          button#other.btn.btn-tertiary.example-nav-btn Other
        div.examples-items-container
          a#ex-a(href="#")
            img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/Mega-64.png", alt="")
          a#ex-b(href="#")
            img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/01_video_02.png", alt="")
          a#ex-c(href="#")
            img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/01_video_03.png", alt="")
          a#ex-d(href="#")
            img(src="https://live-patreon-marketing.pantheonsite.io/wp-content/uploads/2022/08/Channel-5.png", alt="")

    div.articles-container.landing-item-container
      div.examples-about 
        h1 Articles about something...
        p Integer malesuada nunc vel risus. Arcu risus quis varius quam quisque id diam vel.

      div.articles-wrapper
        div.article-container 
          img(src="https://images.unsplash.com/photo-1607703703520-bb638e84caf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80", alt="")
          h3 You would be surprised at this one simple trick to expand your audience 
          a(href="#") Read more 

        div.article-container 
          img(src="https://images.unsplash.com/photo-1483884105135-c06ea81a7a80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80", alt="")
          h3 Being a creator is a hard and lonely road, here are the top ten ways to stave off crippling solitude
          a(href="#") Read more 

        div.article-container 
          img(src="https://images.unsplash.com/photo-1618519764620-7403abdbdfe9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80", alt="")
          h3 Monetizing nostalgia: how to use the authentic loves of your childhood to boost your reach
          a(href="#") Read more 

      div.bottom-call-to-action.landing-item-container
        h1 Want to be a part of the future?
        a(href="/register") 
          button.btn.btn-primary Get Started